#progressmodal {
    background-color: #fefefe;
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 0px solid #bbb;
    text-align: center;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

#serverstats {
    text-shadow: none; /* Prevent inheritence from `body` */
    border: 1px solid #fff;
    text-align: center;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; 
    padding-top: 10px;
    margin-bottom: 20px;
}

.clipdonebox {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: -25px;
    min-height: 40px;
    z-index: 999;
}

.fadeanim {
    -webkit-transition: .5s linear all;
    transition:  .5s linear all;
     opacity: 1;
}

.fadeanim.ng-hide-remove,
.fadeanim.ng-hide-add,.fadeanim.ng-hide {
    display:block!important;  
}

.fadeanim.ng-hide {
    opacity: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}